
html {
	overflow-y: scroll;		/* 상시로 스크롤바가 있음 */
}

#header {
	display: flex;
	justify-content: space-between;
	border-botton: 1px solid #ccc;
	height: 60px;
}

#header > h1 {
	margin: 1rem;
	font-size: 1.2rem;	
}

#header > h1  .material-symbols-outlined {
	transform: translate(0px, 10px);
	font-size: 2rem;
}

#header > nav {
	margin: 1rem;
}

#header > nav > a {
	font-size: 16px;
	padding-right: 2px;
}

#header > nav > a::after {
	content: ' ❤';
}

#header > nav > a:last-child::after {
	content: '';
}

#margin {
	margin: 1rem;
}





